:root {
  --font-family: 'Open Sans', sans-serif;
  --darkBlue: #1F1F3D;
  --lightBlue: #A9AAD2;
  --gray: #EAEAF4;
  --filtergray: #BFBFDD;
  --offwhite: #E9E9F3;
  --buttonblue: #5356A4;
  --bordergray: #353567;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  border: 1px solid red;
  font-family: var(--font-family);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

 .side-bar {
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 20%;
  background-color: var(--darkBlue);
}

.ideabox-text {
  font-size: 23px;
  color: var(--offwhite);
  margin-left: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--bordergray);
  padding: 5%;
  height: 17%;
}

.filter-text {
  font-size: 99%;
  color: var(--filtergray);
}

.show-Btn {
  width: 250px;
  height: 50px;
  font-size: 130%;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-color: var(--bordergray);
  color: var(--offwhite);
  background: var(--buttonblue);
}

.idea-section{
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
}

.idea-form {
  display: flex;
  height: 450px;
  justify-content: center;
  background-color: var(--lightBlue);
}

.idea-box {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  min-height: 300px;
  background-color: var(--gray);
  overflow-y: auto;
}

form {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: auto;
}

#save-button {
  width: 100%;
  height: 40px;
  color: var(--gray);
  font-size: 23px;
}

.save {
  background-color: #89CFF0;
}

.save:hover {
  cursor: not-allowed;

}
.save-cursor {
  background: var(--bordergray);
}

.save-cursor:hover {
  cursor: pointer;
}

input {
  width: 99%;
  margin: 0;
  padding: 0;
  border: 2px solid #5356A4
}

label {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

p {
  font-weight: 300;

}

#title {
  padding: -10px;
  height: 40px;
  /* margin-bottom: 20px; */
}

#body {
  padding: -10px;
  height: 70px;
  /* margin-bottom: 20px; */
}

.search {
  display: flex;
  margin-bottom: 20px;
}

.search-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 40px;
  border: 1px;
  background-color: var(--bordergray)
}

#searchBar {
  height: 40px;
  width: 90%;
}

.mini-idea {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 300px;
  height: 300px;
  margin: 10px;
  justify-content: space-evenly;
}

.mini-header {
  height: 40px;
  background-color: var(--darkBlue);
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

.mini-body {
  padding: 10px;
  height: 220px;
  color: var(--darkBlue);
  background-color: #FFFFFF;
}

.mini-footer {
  height: 40px;
  background-color: #5356A4;
  color: #E9E9F3;
  display: flex;
  align-items: center;
}

img {
  height: 30px;
}

.hidden {
  display: none;
}
